* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header {
    text-align: center;
    background-color: #e63946;
    position: static;
    padding: 30px;
    color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

/*main*/
main {
    display: flex;
    padding: 15px;
}

.sidebar {
    width: 20%;
    height: auto;
    position: fixed;
    margin-top: 10px;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: #c6c4c4;
}

li a:hover {
    text-decoration: none;
    color: #e63946;
}

li {
    padding: 10px;
}

ul {
    list-style: none;
}

.content {
    width: 80%;
    margin-left: 20%;
    color: #f1f1f1;

}

.band-info {
    background-color: #292828;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 5px;
    margin-bottom: 40px;

}

.band-name {
    color:#e63946;
}

p {
    padding: 5px 0;
}

/*footer*/
footer {
    padding: 10px;
    text-align: center;
    background-color: #e63946;
    color: #f1f1f1;
}